﻿
@model IEnumerable<Hotel.Application.Dtos.Room.RoomDtoGetAll>

@{
    ViewData["Title"] = "Index";
}



<h1>Rooms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRoom)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.IdRoomStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFlat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategory)
            </th>*@
@*            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.IdRoom)
                </td>
@*                <td>
                    @Html.DisplayFor(model => item.IdRoomStatus)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IdFlat)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IdCategory)
                </td>*@
@*                <td>
                    @Html.DisplayFor(model => item.Deleted)
                </td>*@
                <td>
                    @Html.DisplayFor(model => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CreationDate)
                </td>

               <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.IdRoom}) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdRoom }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdRoom })
                </td>
            </tr>
        }
    </tbody>
</table>
