@model IEnumerable<Hotel.Application.Dtos.UserRol.UserRolDtoGetAll>

@{
    ViewData["Title"] = "Index";
}

<h1>Users Rols</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUserRol)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.IdUserRol)
                </td>

                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CreationDate)
                </td>

               <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.IdUserRol}) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdUserRol }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdUserRol })
                </td>
            </tr>
        }
    </tbody>
</table>

